@model IEnumerable<SINU.Models.vInscripcionEtapaEstadoUltimoEstado>


<h2>CONSULTA TOTAL POSTULANTES</h2>

<table class="table table-filters table-bordered table-light " id="le-filters" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdModalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDelegacionOficinaIngresoInscribio)
            </th>
            <th>sdfs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdModalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDelegacionOficinaIngresoInscribio)
                </td>
                <td>
                    sasd
                    @*   @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @*No se puede tener dos ActionLink con el mismo nombre*@
                    @*@Html.ActionLink("Todos Los Inscriptos", "ConsultaTotalPostulantes", "CallConsulta")*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </tbody>

</table>

@*<div class="container text-center">
        @Html.ActionLink("Volver al Listado de consultas", "Index", "ConsultaProgramadas",null,new {@class="" });

    </div>*@

@*<div class="container text-center">
        @Html.ActionLink("Volver al Listado de consultas", "Index", "ConsultaProgramadas", new { @class = "btn btn-primary w-100 " });

    </div>*@