@model IEnumerable<SINU.Models.ConsultaProgramada>
@using SINU.Models;

@{
    ViewBag.Title = "CONSULTOR:";

    //List<ConsultaProgramada> Consulta = (new SINUEntities()).ConsultaProgramada.OrderBy(m => m.OrdenConsulta).ToList();
    string referencia = "";
    String activar = "";
}

<h2>@ViewBag.Title</h2>
<style>
    li.nav-item a {
        color:black !important;

    }
    li.nav-item a.active {
        /*background-color: #6c757d !important;*/
         background-color: #346691!important;
        color:white !important;

    }
</style>
<br />
<div class="container p-0">
    <div class="row">


        <nav class="col-md-2 mr-3 navbar navbar1 navbar-expand-md  navbar-light ml-3 pl-2 oculto" style="display: block !important;">

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="TABDocumentacion">
                <ul class="nav nav-tabs nav-pills with-arrow lined  flex-sm-row text-left" id="myTab" role="tablist" style="border-bottom: 0px solid;">
                    @foreach (var item in Model)
                    {
                        referencia = "#Consulta" + item.IdConsulta.ToString();
                        activar = ((Int32)ViewBag.ActivarId) == item.IdConsulta ? " active " : "";
                        <li class="nav-item flex-md-fill bli">
                            <a class="nav-link font-weight-bold rounded-0 @activar atab" data-toggle="tab" href="@referencia" role="tab" aria-controls="XXXXX" aria-selected="false" style="text-transform: capitalize !important;">
                                @item.NombreMenu
                            </a>
                        </li>
                    }



                </ul>
            </div>
        </nav>


        <div class="col-md-9 borderdiv1">
            <div class="tab-content TABMovil" id="TabDocumentacion">
                @foreach (var item in Model)
                {
                    referencia = "Consulta" + item.IdConsulta.ToString();
                    activar = ((Int32)ViewBag.ActivarId) == item.IdConsulta ? "show active" : "";

                    <div class="pos-f-t collapse tab-pane fade @activar tab-nav" id="@referencia">
                        @Html.Action(item.Action, item.Controller, null)
                    </div>
                }

            </div>
        </div>
        <!-- /.col-md-8 -->
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
  $(".table-filters").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf',//'colvis',
                    //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary"
                    //    extend: 'columnVisibility',
                    //    text: 'Show secondary',
                    //    visibility: true,
                    //    columns: '.secondary'
                    //},
                    //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary" ej:  <th class="secondary"> Html.DisplayNameFor(model => model[0].Estado)   </th>
                    //    extend: 'columnVisibility',
                    //    text: 'Hide secondary',
                    //    visibility: false,
                    //    columns: '.secondary'
                    //},
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        messageTop: 'Armada Argentina'
                    },
                    {
                        extend: 'copy',
                        text: 'copiar',
                    }


                ],
                responsive: true,
                "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                },
                {
                    "targets": 'ni-o-ni-bu',
                    "searchable": false,
                    "orderable": false
                }]

            });
        })
    </script>
    }