@model IEnumerable<SINU.Models.vConsultaInscripciones>

@{
    ViewBag.Title = "Inscriptos Por Modalidad " + ViewBag.modalidadElegida;
}

<h2>
    @ViewBag.Title
</h2>

@*@{
        ViewBag.Title = "InscriptosPorModalidad";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h2>InscriptosPorModalidad</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Delegacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.IdDelegacionOficinaIngresoInscribio)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Delegacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdDelegacionOficinaIngresoInscribio)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
    @*<div>
            @Html.ActionLink("Volver al Listado de consultas", "Index", "ConsultaProgramadas");
        </div>
        @Html.ActionLink("Atras", "TotalesPorModalidadYGenero", "CallConsulta");*@

    @* @Html.ActionLink("Inscriptos Todos", "InscriptosPorModalidad", new { ModalidadElegida = "Todos" })*@

</table>
