@model IEnumerable<SINU.Models.vInscriptosCantYTODASConvocatorias>

    <h2>
        Totales Por Convocatoria
    </h2>

<table class="table table-filters table-bordered table-light table-hover  " id="le-filters" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.IdConvocatoria)*@
                <label>N°Convocatoria</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IdModalidad)*@
                <label>Modalidad</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.NombreInst)*@
                <label>Nombre de la Institución</label>
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.Fecha_Inicio_Proceso)*@
                <label>Inicio de Inscripcion</label>
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Fecha_Fin_Proceso)*@
                <label>Fin de Inscripcion</label>
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.CantInscriptos)*@
                 <label>N° de Inscriptos</label>
            </th>
            @*<th>
                 <label>Detalle</label>
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdConvocatoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModalidad)
            </td>              
            <td>
                @Html.DisplayFor(modelItem => item.NombreInst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio_Proceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Fin_Proceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantInscriptos)
            </td>
               
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
              </td>*@
        </tr>
        }
    </tbody>
</table>

<!-- ***********************************************************************-->
<!-- COPIAR TODO ESTE SCRIPT DE DATATABLE PARA TODAS LAS TABLAS DEL SISTEMA-->
<!-- ***********************************************************************-->
<!--Para establecer Formato de Tabla-->
<!-- Establecer la tabla  <table class="table table-filters" id="le-filters">-->
<!-- Agregar en las columnas que no deseo ordenar  <th class="no-sort"> -->
<!-- Agregar en las columnas que no deseo ordenar ni buscar  <th class="ni-o-ni-bu"> -->
<!-- Rodear la tr de las th con <thead> </thead>-->
<!-- Rodear el contenido de la tabla con <tbody>-->
@section Scripts {
    <script type="text/javascript">
        //scrip que permite buscar por cualquier campo en la tabla para su uso requiere que tabla tenga la propiedad id=myTable
        $(document).ready(function () {
            $(".table-filters").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf',//'colvis',
                    //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary"
                    //    extend: 'columnVisibility',
                    //    text: 'Show secondary',
                    //    visibility: true,
                    //    columns: '.secondary'
                    //},
                    //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary" ej:  <th class="secondary"> Html.DisplayNameFor(model => model[0].Estado)   </th>
                    //    extend: 'columnVisibility',
                    //    text: 'Hide secondary',
                    //    visibility: false,
                    //    columns: '.secondary'
                    //},
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        messageTop: 'Armada Argentina'
                    },
                    {
                        extend: 'copy',
                        text: 'copiar',
                    }


                ],
                responsive: true,
                "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },

                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                },
                {
                    "targets": 'ni-o-ni-bu',
                    "searchable": false,
                    "orderable": false

                }]


            });

        });
    </script>
}