@model SINU.ViewModels.ConsultaPorConvocatoria
@{
    ViewBag.Title = "Problemas de Inscriptos en Convocatoria elegida";
    //tiene 1 registro de la convocatoria elegida con los totales de los count de errores correspondientes
    // vInscriptosYRestriccionesCount InscriptosYConvocatoriasCount = (vInscriptosYRestriccionesCount)(ViewBag.InscriptosYConvocatoriasCount);
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <!-- en esta linea estoy llamando al Index de ConsultaProgramadas
    con el id de la consulta que deseo se encuentre activa
    cuando armé el menú lateral de consultas.
            se debe cargar el ActivarId en el controller action que llama a esta view
            o en este archivo al ppio-->
    @Html.ActionLink("Atras", "Index", "CallConsulta", new { id = ViewBag.ActivarId }, new { @class = "btn btn-primary w-80  btn-dark" })


    <span style="float:right">
        @Html.ActionLink("VER Problemas de Titulos", "TotalesConvocatoriaTitulos", new { IdConvocatoria = Model.idConvocatoria }, new { @class = "btn btn-primary w-80  btn-dark" })
    </span>
</div>
<br />
<h2>
    @ViewBag.Title
</h2>
<p>
    <div class="alert alert-success text-dark" role="alert">DETALLES DE LA CONVOCATORIA SELECCIONADA  <span style="float:right">TOTAL INSC.: @(Model.restriccionesConvocatoria.Count() == 0 ? "0 ": Model.restriccionesConvocatoria[1].Total)</span></div>
</p>

<div>
    <p>ID de Convocatoria: <b>@Model.infoConvocatoria.IdConvocatoria</b></p>
    <p>Modalidad: <b>@Model.infoConvocatoria.Modalidad</b></p>
    <p>Inicio: <b>@Model.infoConvocatoria.FechaInicio.ToString("dd/MM/yyyy")</b></p>
    <p>Fin de Inscripción: <b>@Model.infoConvocatoria.FechaFinal.ToString("dd/MM/yyyy")</b></p>
    <p>Fin Proceso: <b>@(((DateTime)Model.infoConvocatoria.Fecha_Fin_Proceso).ToString("dd/MM/yyyy"))</b></p>

</div>
<!-- tabla con detalles de problemas sumarizados, tiene los count de cada problema-->

<table class="table table-filters table-bordered table-light table-hover " id="tablasRestricciones" style="width:100%">
    <thead class="thead-dark">
        <!-- fila con detalle de convocatoria-->
        <tr>
            <th>
                IMC
            </th>
            <th>
                ALTURA
            </th>
            <th>
                EDAD
            </th>
            <th>
                Estado Civil
            </th>
            <th>
                Total
            </th>
            <th width="29">
                Total_Subtotal_Agrupacion
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.restriccionesConvocatoria)
        {
            <tr>
                <td style="background-color:@(item.IMC != "" ? "#ffffff" : "#fff6e3")">
                    <b>@item.IMC</b>
                </td>
                <td style="background-color:@(item.ALTURA != "" ? "#ffffff" : "#fff6e3")">
                    <b>@item.ALTURA</b>
                </td>
                <td style="background-color:@(item.EDAD != "" ? "#ffffff" : "#fff6e3")">
                    <b>@item.EDAD</b>
                </td>
                <td style="background-color:@(item.EstadoCivil != "" ? "#ffffff" : "#fff6e3")">
                    <b>@item.EstadoCivil</b>
                </td>
                <td style="background-color:@(item.Total != "" ? "#ffffff" : "#fff6e3")">
                    <b>@item.Total</b>
                </td>
                <td>
                    <b>@item.Total_Subtotal_Agrupacion</b>
                </td>
            </tr>
        }


    </tbody>
</table>
<hr />
<!-- GRILLA CON LOS DETALLES DE CADA INSCRIPTO Y SU PROBLEMA
    dar formato con datatables a esta grilla-->
<h3>Postulantes Inscriptos en la Convocatoria</h3>

<table class="table table-filters table-bordered table-light table-hover " id="tablaPostulantes" style="width:100%">
    <thead class="thead-dark">
        <!-- fila con detalle de convocatoria-->
        <tr>
            <th hidden>
                idpersona
            </th>
            <th>
                Apellido
            </th>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                DNI
            </th>
            <th>
                Modalidad
            </th>
            <th>
                Delegación
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.inscriptosConvocatoria)
        {
        <tr>
            <td hidden>
                <b>@item.IdPersona</b>
            </td>
            <td>
                <b>@item.Apellido</b>
            </td>
            <td>
                <b>@item.Nombres</b>
            </td>

            <td>
                <b>@item.Email</b>
            </td>
            <td>
                <b>@item.DNI</b>
            </td>
            <td>
                <b>@item.Modalidad</b>
            </td>
            <td>
                <b>@item.Inscripto_En</b>
            </td>
            <td class="row justify-content-center align-items-center">
                <div class="d-flex">
                    <a class='mr-1 btn btn-success d-inline fas fa-eye BotonCheck' style="color:white" id="@item.IdPersona" data-toggle="tooltip" data-placement="top" title="Detalles"></a>
                    |&ensp;
                    @Html.ActionLink(" ", "Index", "Postulante", new { ID_Postulante = item.IdPersona }, new { @class = "mr-1 btn btn-info d-inline fas fa-bars load-submit" , @tooltip="Ver datos"})
                </div>
            </td>
        </tr>
        }


    </tbody>
</table>

<div class="modal fade" id="MCheck" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmación de Eliminación</h5>
            </div>
           
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <input class="form-control" name="idPostulante" id="idpostu" hidden>

                            <div class="form-group">
                                <label>N° de Pre-Inscripción</label>
                                <label class="form-control" id="idinscripcion"></label>
                            </div>
                            <div class="form-group">
                                <label>Nombres</label>
                                <label class="form-control" id="nombre"></label>

                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <label class="form-control" id="apellido"></label>

                            </div>
                            <div class="form-group">
                                <label>Genero</label>
                                <label class="form-control" id="genero"></label>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Altura</label>
                                <label class="form-control" id="altura"></label>

                            </div>
                            <div class="form-group">
                                <label>IMC</label>
                                <label class="form-control" id="imc"></label>

                            </div>
                            <div class="form-group">
                                <label>Edad</label>
                                <label class="form-control" id="edad"></label>

                            </div>
                            <div class="form-group">
                                <label>Estado Civil</label>
                                <label class="form-control" id="estadocivil"></label>

                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="mr-1 btn btn-info d-inline " id="detallePostulante" href="">Datos del Postulante</a>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
          
        </div>
    </div>
</div>



<!-- ***********************************************************************-->
<!-- COPIAR TODO ESTE SCRIPT DE DATATABLE PARA TODAS LAS TABLAS DEL SISTEMA-->
<!-- ***********************************************************************-->
<!--Para establecer Formato de Tabla-->
<!-- Establecer la tabla  <table class="table table-filters" id="le-filters">-->
<!-- Agregar en las columnas que no deseo ordenar  <th class="no-sort"> -->
<!-- Agregar en las columnas que no deseo ordenar ni buscar  <th class="ni-o-ni-bu"> -->
<!-- Rodear la tr de las th con <thead> </thead>-->
<!-- Rodear el contenido de la tabla con <tbody>-->

@section Scripts{
    <script type="text/javascript">
        $("#tablasRestricciones").DataTable({
            dom: "t",
            pageLength: 100
        });

        var tablePostulante = $("#tablaPostulantes").DataTable({
            'dom': 'Bfrtlpi',
            buttons: [
                'excel', 'pdf',//'colvis',
                //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary"
                //    extend: 'columnVisibility',
                //    text: 'Show secondary',
                //    visibility: true,
                //    columns: '.secondary'
                //},
                //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary" ej:  <th class="secondary"> Html.DisplayNameFor(model => model[0].Estado)   </th>
                //    extend: 'columnVisibility',
                //    text: 'Hide secondary',
                //    visibility: false,
                //    columns: '.secondary'
                //},
                {
                    extend: 'print',
                    text: 'Imprimir',
                    messageTop: 'Armada Argentina'
                },
                {
                    extend: 'copy',
                    text: 'copiar',
                }


            ],
            responsive: true,
            "language":
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false
            },
            {
                "targets": 'ni-o-ni-bu',
                "searchable": false,
                "orderable": false
            }],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]

        });

        $(":input[type='search']").on("keyup", async function () {
            sessionStorage.setItem("searchText", $(this).val());
        });
        $(document).ready(function () {

            if (sessionStorage.getItem("searchText")!=undefined) {
                tablePostulante.search(sessionStorage.getItem("searchText")).draw();
            };

            $("tbody").on("click", ".BotonCheck", function () {
                id = $(this).attr("id");
                $.get("/CallConsulta/CheckPostulante", { idPostulante: id }, function (response) {
                    $("#idinscripcion").html(response.check.IdInscripcion);
                    $("#nombre").html(response.check.Nombres);
                    $("#apellido").html(response.check.Apellido);
                    $("#genero").html(response.check.Genero);
                    $("#altura").html(response.check.Altura != null ? `${response.check.Altura} - <b>${response.check.AlturaCheck}</b>` : "<b>Altura sin cargar</b>");
                    $("#imc").html(response.check.IMC != null ? `${response.check.IMC} - <b>${response.check.IMCCheck}</b>` : "<b>IMC sin cargar</b>");
                    $("#edad").html(`${response.check.Edad} - <b>${response.check.EdadCheck}</b>`);
                    $("#estadocivil").html(`${response.check.EstadoCivil} - <b>${response.check.EstadoCiviCheck}</b>`);
                    $("#detallePostulante").attr("href", `/Postulante?ID_Postulante=${id}`);
                })
                $("#MCheck").modal("show");
            }); 

            $("#detallePostulante").on("click", function () {
                $("#MCheck").modal("hide"); 
                $.Cargando();
            });
        })
    </script>
}