@model IEnumerable<SINU.Models.Fuerza>
<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Index Administración";
}
@section MenuPerfil{

    @Html.Partial("_MenuPerfilAdmin")
}
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fuerza1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fuerza1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdFuerza }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdFuerza }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdFuerza })
            </td>
        </tr>
    }

</table>
