@model SINU.ViewModels.DelegacionPostulanteVM


<table class="table table-filters table-bordered table-light" id="le-filters" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntrevistaVM[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntrevistaVM[0].Email)
            </th>
            <th class="ni-o-ni-bu"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EntrevistaVM)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <i class="far fa-address-book"></i>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdInscripcionEtapaEstado }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>

</table>

