@model List<SINU.Models.vInscripcionEtapaEstadoUltimoEstado>

<table class="table table-filters table-bordered table-light" id="le-filters" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Estado)
            </th>
            <th class="ni-o-ni-bu"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("  ", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "far fa-edit", @style = "color:#0072ff", @title = "Editar" })&ensp;|&ensp;
                @Html.ActionLink(" ", "Details", new { id = item.IdInscripcionEtapaEstado }, new { @class = "far fa-list-alt", @style = "color:#0072ff", @title = "Detalles" }) &ensp;| &ensp;
                @Html.ActionLink(" ", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "far fa-trash-alt", @style = "color:#0072ff", @title = "Eliminar" })
            </td>
        </tr>
        }
    </tbody>

</table>

