@model IEnumerable<SINU.Models.vEntrevistaLugarFecha>
@*@{
        //ViewBag.Title = "AsignarFechaVarios";

    }*@

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
@using (Ajax.BeginForm("AsignarFechaVariosEntrevista", "Delegacion", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "Exito(data,status,xhr)",
        OnFailure = "Falla",
        LoadingElementId = "carga",
//LoadingElementDuration = 1000,
//UpdateTargetId = "resultTarget"
},
    new { id = "BeginFormAsignarFechaVarios" }))
{
    @*@using (Html.BeginForm("AsignarFechaVarios", "Delegacion"))
        {*@
    @Html.AntiForgeryToken()

    @*<h2 class="text-center">Asignar fecha ha varios Postulante</h2>*@
    <table class="table table-filters table-bordered table-light text-center" id="le-filters" style="width:100%">
        <thead>
            <tr>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Etapa)
                </th>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="ni-o-ni-bu">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Etapa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Estado)
                    </td>
                    <td>
                        <input name="Select" type="checkbox" value="@item.IdInscripcion" id="myCheck" onclick="myFunction()" />
                    </td>
                </tr>
            }

        </tbody>

    </table>
    <form>
        <div class="card" style="background-color:gainsboro">
            <div class="card-body">
                <div class="container">
                    <h1 class="display-4">Asignar fecha a varios Postulante</h1>
                    <p class="lead">Selecciones varios postulantes y asigenela una fecha y un lugar para rendir examenes</p><br />
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Fecha de Presentacion:</label><br />
                                @*<input name="fecha" type="text" id="datetimepicker" />*@
                                <input type="text" class="form-control" id="datetimepicker" name="Fecha" readonly/>
                            </div>
                            @*<div class="form-group">
                                <label for="recipient-name" class="col-form-label">
                                    lugar de Presentacion: @Html.DropDownListFor(m => m.LugarPresentacion, Model.LugarPresentacion, "---Seleccione la corresp ---", htmlAttributes: new { @id = "LugarExamen", @class = "form-control selectpicker" })
                                </label>

                            </div>*@
                        </div>
                        @*<div class="col-md-6 ">
                            <div class="form-group">
                                <div id="DatosDelegacion" class="form-group control-label" hidden>
                                    <h4 class="text-center">Datos del Lugar</h4>
                                    @Html.Label("Jurisdiccion , localidad y Departamento", new { @class = "col-md-6 control-label" })
                                    <p id="Direccion" class="control-label col"><b>asdasda</b></p>
                                    @Html.Label("Nombre Del Lugar", new { @class = "col-md-6 control-label" })
                                    <p id="Telefono" class="control-label col"><b>asdasda</b></p>
                                    @Html.Label("Direccion", new { @class = "col-md-6 control-label" })
                                    <p id="Celular" class="control-label col"><b>asdasda</b></p>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="container text-right">
                            <input type="submit" value="Asignar" class="btn btn-primary btn-lg w-25" />
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </form>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(document).ready(function () {
            //$(".selectpicker").selectpicker({
            //    size: 7,
            //    noneSelectedText: 'Ninguna Opcion Seleccionada'

            //});
              jQuery('#datetimepicker').datetimepicker({
                minDate: 0,
                format: 'd/m/y h:m',
                value: 'd/m/y h:m'
            });
            $.datetimepicker.setLocale('es')

            @*var model = '@Html.Raw(Model.DatosLugar)';
            var jsonDatosDelegacion = JSON.parse(model);
            $("#LugarExamen").on("change", function () {
                if ($(this).val() != "") {
                    var value = $(this).val();
                    var DeleOfi = "";
                    $.each(jsonDatosDelegacion, function (index, item) {
                        DeleOfi = (item[0] == value) ? item : DeleOfi;
                        if (DeleOfi != "") {
                            return false;
                        }
                    });
                    $("#Direccion b").text(DeleOfi[1]);
                    $("#Telefono b").text(DeleOfi[2]);
                    $("#Celular b").text(DeleOfi[3] == "" ? "-------" : DeleOfi[3]);
                    $("#DatosDelegacion").removeAttr("hidden");
                } else {
                    $("#DatosDelegacion").attr("hidden", true);
                }
            })*@
            //$(".datepicker").datepicker({
            //    format: "dd/mm/yyyy",
            //    language: "es",
            //    autoclose: true,
            //    startView: "days",
            //    startDate: "Today"
            //});
        });
        function Exito(data,status,xhr) {
            if (data.success) {
                location.reload(true);
            }
            if (data.success == false) {
                //$("#modal3").modal('show');
                $.Anuncio(data.msg);
            }
        }
    </script>
}
