@model SINU.Models.vPersona_DatosBasicos

<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas (COPIAR ESTE BLOQUE) xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "DETALLE INSCRIPTO";
}
@*@section MenuPerfil{

        @Html.Partial("_MenuPerfilDeleg")
    }*@
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->


<h2>Detalles Inscripción seleccionada de @ViewBag.Delegacion</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        @*<h4>@Model.IdInscripcion</h4>*@
        <hr />


        @Html.HiddenFor(m => m.IdPersona)
        @*@Html.HiddenFor(m => m.IdInscripcion)*@
        <div class="list-group">
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Apellido)</b>:    @Html.DisplayFor(model => model.Apellido)
            </div>

            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Nombres)</b>:    @Html.DisplayFor(model => model.Nombres)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.DNI)</b>:    @Html.DisplayFor(model => model.DNI)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Sexo)</b>:    @Html.DisplayFor(model => model.Sexo)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Telefono)</b>:    @Html.DisplayFor(model => model.Telefono)
            </div>
            <div class="list-group-item">

                <b>@Html.DisplayNameFor(model => model.Celular)</b>:    @Html.Label(Model.Celular ?? "  -- ")
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.ComoSeEntero)</b>:    @Html.DisplayFor(model => model.ComoSeEntero)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.NombreInst)</b>:    @Html.DisplayFor(model => model.NombreInst)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.FechaNacimiento)</b>:    @Html.DisplayFor(model => model.FechaNacimiento)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Edad)</b>:    @Html.DisplayFor(model => model.Edad)
            </div>
            <div class="list-group-item">
                <b>@Html.DisplayNameFor(Model => Model.Email)</b>:   @Html.DisplayFor(Model => Model.Email)
            </div>
            <div class="list-group-item" id="Ocul" hidden>
                <b>@Html.DisplayNameFor(Model => Model.Oficina)</b>:  @Html.DisplayFor(Model => Model.Oficina)
            </div>

        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.ActionLink("Vista Anterior", "Index", null, new { @class = "btn btn-dark" })
            </div>
        </div>
    </div>
}
@*@section Scripts {
    <script type="text/javascript">
       $(document).ready(function () {
           var a = '@Model.FechaEntrevista'
           if (a != "") {
            $("#Ocul").removeAttr("hidden");
           }       });
    </script>
}*@