@model SINU.ViewModels.RestaurarPostulanteVM


@*<h2>Desea restaurar al postulante al proceso de Inscripcion</h2>*@
@Html.AntiForgeryToken()

    <div class="container">
        @*<h4>@Model.IdInscripcion</h4>*@
        <hr />

        
        @Html.HiddenFor(m => m.vInscripcionDetallesVM[0].IdInscripcion)
        @*@Html.HiddenFor(m => m.IdInscripcion)*@

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Restaurar Postulante</h1>
                <p class="lead">Restaurar al postulante al proceso de inscripcion a continuacion se detallara los datos y los problemas</p>
                <div class="list-group">
                    <div class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.vInscripcionDetallesVM[0].Apellido)</b>:    @Html.DisplayFor(model => model.vInscripcionDetallesVM[0].Apellido)
                    </div>
                    <div class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.vInscripcionDetallesVM[0].Nombres)</b>:    @Html.DisplayFor(model => model.vInscripcionDetallesVM[0].Nombres)
                    </div>
                    <div class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.vInscripcionDetallesVM[0].DNI)</b>:    @Html.DisplayFor(model => model.vInscripcionDetallesVM[0].DNI)
                    </div>
                    <div class="list-group-item">
                        <b>N° de preinscripcion</b>:    @Html.DisplayFor(model => model.vInscripcionDetallesVM[0].IdInscripcion)
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model.vDataProblemaEncontradoVM)
        {
            <div class="note small bg-light p-2">
                <b>* @Html.DisplayFor(modelitem => item.DataVerificacion) :</b> @Html.DisplayFor(modelitem=>item.Comentario)
            </div>
        }
        
    </div>
    <br />
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.ActionLink("Vista Anterior", "Index", null, new { @class = "btn btn-dark" })
            </div>
            <div class="col-sm-2">
                @*@Html.ActionLink("Restaurar", "VolverEtapa","Delegacion", new {ID_persona = Model.vInscripcionDetallesVM[0].IdPersona }, new { @class = "btn btn-dark" })*@
                @Ajax.ActionLink("Volver Etapa Anterior", "VolverEtapa", new { ID_persona = Model.vInscripcionDetallesVM[0].IdPersona }, new AjaxOptions
           {
               HttpMethod = "POST",
               OnSuccess = "Exito(data,status,xhr)",
               OnFailure = "Falla"
           }, new { @id = "BTValidar", @class = "fa fa-reply btn btn-warning w-25" })
            </div>
        </div>
    </div>


