@model SINU.ViewModels.DelegacionPostulanteVM

<!-- LA PECULIARIDAD DE ESTA VISTA ES QUE LLAMA A LA PARTIALVIEW _LISTADO.CSHTML

    (REGLA DE NOMENCLATURA: TODAS LAS PARTIALVIEW DEBEN COMENZAR CON GUION BAJO EN EL NOMBRE)-->
<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas (COPIAR ESTE BLOQUE) xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Listado de Inscriptos";
}
@*@section MenuPerfil{

        @Html.Partial("_MenuPerfilDeleg")
    }*@
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<!-- INCORRECTO COLOCAR LOS STYLES AQUI-->
<style>
    @@media (min-width: 576px) {
        .rounded-nav {
            border-radius: 50rem !important;
        }
    }

    @@media (min-width: 576px) {
        .rounded-nav .nav-link {
            border-radius: 50rem !important;
        }
    }

    /* With arrow tabs */

    .with-arrow .nav-link.active {
        position: relative;
    }

        .with-arrow .nav-link.active::after {
            content: '';
            border-left: 6px solid transparent !important;
            border-right: 6px solid transparent !important;
            border-top: 6px solid #052240 !important;
            position: absolute !important;
            bottom: -6px !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
            display: block !important;
        }

    /* lined tabs */

    .lined .nav-link {
        border: none !important;
        border-bottom: 2px solid transparent !important;
    }

        .lined .nav-link:hover {
            border: none;
            border-bottom: 2px #555 solid !important;
        }

        .lined .nav-link.active {
            background: none !important;
            color: #000000 !important;
            border-color: #052240 !important;
        }

    .atab {
        color: #052240 !important;
    }

    .borderdiv1 {
        border-left: 1px solid #000000 !important;
        margin-left: 15px;
        padding-left: 10px;
    }

    @@media screen and (max-width: 768px) {
        .tabb {
            flex-wrap: nowrap !important;
        }

        .borderdiv1 {
            border-left: 0px !important;
        }
    }

    .bli {
        border-bottom: 1px solid #555 !important;
    }

    .Tabdesabilitado {
        pointer-events: none;
    }

    @@media (min-width: 1200px) {
        .container {
            max-width: 95% !important;
        }
    }

    @@media (min-width: 992px) {
        .container {
            max-width: 95% !important;
        }
    }

    @@media (min-width: 768px) {
        .container {
            max-width: 95% !important;
        }
    }

    @@media (min-width: 576px) {
        .container {
            max-width: 95% !important;
        }
    }
</style>
<h2 class="text-center ">@ViewBag.Delegacion</h2>
<br />
<div class="container h-75">
    <div class="row">
        <div class="col-md-2 mr-2  bd-sidebar ">
            <ul class="nav nav-tabs with-arrow lined  flex-md-column text-center tabb mb-1" id="myTab" role="tablist" style="border-bottom:0px solid; color:white">

                <li class="nav-item flex-sm-fill bli">
                    <a class="nav-link text-uppercase font-weight-bold  rounded-0 active atab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                        Inscriptos - Todos
                    </a>
                </li>
                <li class="nav-item flex-sm-fill bli">
                    <a class="nav-link text-uppercase font-weight-bold  rounded-0  atab" id="home-tab" data-toggle="tab" href="#DatoBasico" role="tab" aria-controls="home" aria-selected="true">
                        Datos Basicos
                    </a>
                </li>

                <li class="nav-item flex-sm-fill bli">
                    <a class="nav-link text-uppercase font-weight-bold  rounded-0  atab" id="home-tab" data-toggle="tab" href="#Entrevista" role="tab" aria-controls="home" aria-selected="true">
                        Entrevista
                    </a>
                </li>
                <li class="nav-item flex-sm-fill bli">
                    <a class="nav-link text-uppercase font-weight-bold  rounded-0  atab" id="home-tab" data-toggle="tab" href="#Documentacion" role="tab" aria-controls="home" aria-selected="true">
                        Documentacion
                    </a>
                </li>
                <li class="nav-item flex-sm-fill bli">
                    <a class="nav-link text-uppercase font-weight-bold  rounded-0  atab" id="home-tab" data-toggle="tab" href="#Presentacion" role="tab" aria-controls="home" aria-selected="true">
                        Presentacion
                    </a>
                </li>
                <li class="nav-item flex-sm-fill bli">
                    <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 borderdiv1">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active pt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    @Html.Partial("_ListadoPostulante", Model.PostulantesIncriptosVM)
                </div>

                <div class="tab-pane fade " id="DatoBasico" role="tabpanel" aria-labelledby="home-tab">
                    @Html.Partial("_ListadoPostulante", Model.cargadatosbasicosVM)
                </div>
                <div class="tab-pane fade " id="Entrevista" role="tabpanel" aria-labelledby="home-tab">
                    @Html.Partial("_ListadoPostulante", Model.EntrevistaVM)
                </div>
                <div class="tab-pane fade " id="Documentacion" role="tabpanel" aria-labelledby="home-tab">
                    @Html.Partial("_ListadoPostulante", Model.DocumentacionVM)
                </div>
                <div class="tab-pane fade " id="Presentacion" role="tabpanel" aria-labelledby="home-tab">
                    @using (Html.BeginForm("PresentacionAsignaFecha", "Delegacion"))
                    {
                        @Html.Partial("_ListadoPostulante", Model.PresentacionVM)
                        <div class="col-sm-3 col-lg-2" id="Ocul1" data-toggle="modal" data-target="#modal1">
                            <button type="button" class="btn btn-success btn-lg w-100 float-right">Asignar Fecha</button>
                        </div>
                        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">SINU</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input name="fecha" type="datetime" class="datepicker" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary" value="hi" name="temp">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <h2>Contact</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***********************************************************************-->
<!-- COPIAR TODO ESTE SCRIPT DE DATATABLE PARA TODAS LAS TABLAS DEL SISTEMA-->
<!-- ***********************************************************************-->
<!--Para establecer Formato de Tabla-->
<!-- Establecer la tabla  <table class="table table-filters" id="le-filters">-->
<!-- Agregar en las columnas que no deseo ordenar  <th class="no-sort"> -->
<!-- Agregar en las columnas que no deseo ordenar ni buscar  <th class="ni-o-ni-bu"> -->
<!-- Rodear la tr de las th con <thead> </thead>-->
<!-- Rodear el contenido de la tabla con <tbody>-->
@section Scripts {
    <script type="text/javascript">
        //scrip que permite buscar por cualquier campo en la tabla para su uso requiere que tabla tenga la propiedad id=myTable
        $(document).ready(function () {
            $(".table-filters").DataTable({
               dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf',//'colvis',
                    //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary"
                    //    extend: 'columnVisibility',
                    //    text: 'Show secondary',
                    //    visibility: true,
                    //    columns: '.secondary'
                    //},
                    //{//ocultar columnas definidas en la tabla como secundarias declarando en la columna class="secondary" ej:  <th class="secondary"> Html.DisplayNameFor(model => model[0].Estado)   </th>
                    //    extend: 'columnVisibility',
                    //    text: 'Hide secondary',
                    //    visibility: false,
                    //    columns: '.secondary'
                    //},
                        {
                            extend: 'print',
                            text: 'Imprimir',
                            messageTop: 'Armada Argentina'
                        },
                         {
                            extend: 'copy',
                            text: 'copiar',                          
                        }
         
         
                ],
                responsive: true,
                "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                },
                {
                    "targets": 'ni-o-ni-bu',
                    "searchable": false,
                    "orderable": false
                }]
            });
            $(".datepicker").datepicker({
                format: "dd/mm/yyyy",
                language: "es",
                autoclose: true,
                startView: "days",
                startDate: "Today"
            });
           
        });
    </script>


}

