<!--    CUERPO DEL CORREO    -->

    @if (Model.Estado == "Validado")
    {
        <p class="lead" style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0;color:black"> @Raw(Model.MailCuerpo)</p>
    }
    @if (Model.Estado == "Volver Etapa")
    {
        <p class="lead" style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0;color:black"> @Raw(Model.MailCuerpo)</p>
        foreach (var item in Model.Errores)
        {
            <p class="lead" style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0;color:black">&bull; @item.DataVerificacion: @item.Comentario </p>
        }
    }
    @if (Model.Estado == "No Validado")
    {
        <p class="lead" style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0;color:black"> @Raw(Model.MailCuerpo)</p>
    }
