<!--    CUERPO DEL CORREO    -->

<p class="lead" style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0;color:black">
    Docuementacion del postulante
    @if (Model.Errores == null)
    {
    <p> @Model.MailCuerpo</p>

}
else
{
    <p> @Model.MailCuerpo</p>
    foreach (var item in Model.Errores)
    {
        <p>@item.DataVerificacion: @item.Comentario </p>
    }
}
    @if (Model.Etapa == "No Validado")
    {
        <p> @Model.MailCuerpo</p>
    }
    

