@model IEnumerable<SINU.ViewModels.PeriodosConvocatorias>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuPerfilDeleg.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdInstitucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPeriodoInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdModalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdGrupoCarrOficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inicio_Proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Fin_Proceso)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ff)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdInstitucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPeriodoInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdModalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdGrupoCarrOficio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio_Proceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Fin_Proceso)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ff)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdConvocatoria }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdConvocatoria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdConvocatoria })
        </td>
    </tr>
}

</table>
