@*@model IEnumerable<Consulta.ConsultaProgramada>*@
@model IEnumerable<SINU.Models.ConsultaProgramada>

@{
    ViewBag.Title = "Index";
}

<h2>CONSULTAS</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionConsulta)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OrdenConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametros)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionConsulta)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OrdenConsulta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parametros)
                </td>*@
            <td>
                @*  @Html.ActionLink("Edit", "Edit", new { id=item.IdConsulta }) |*@
                @Html.ActionLink("Detalles", "Details", new { id = item.IdConsulta })
                @*  @Html.ActionLink("Delete", "Delete", new { id=item.IdConsulta })*@
            </td>
        </tr>
    }

</table>
