@model SINU.ViewModels.AdministradorVm
@{
    ViewBag.Title = "Create";
}
@section MenuPerfil{

    @Html.Partial("_MenuPerfilAdmin")
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PeriodosInscripciones</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.PeriodosInscripcionesVm.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PeriodosInscripcionesVm.FechaInicio, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datepicker1", placeholder = "Formato: DD/MM/YYYY" } })
                @Html.ValidationMessageFor(m => m.PeriodosInscripcionesVm.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PeriodosInscripcionesVm.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PeriodosInscripcionesVm.FechaFinal, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datepicker2", placeholder = "Formato: DD/MM/YYYY" } })
                @Html.ValidationMessageFor(m => m.PeriodosInscripcionesVm.FechaFinal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Institucions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Institucion", ViewData["Institucion"] as SelectList, new { @id = "IdInstitucion" })
                @Html.ValidationMessageFor(model => model.PeriodosInscripcionesVm.IdInstitucion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $('#datepicker1').datepicker()
        $('#datepicker2').datepicker()
    </script>

}
