@model SINU.ViewModels.vContacto
<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Contacto";

    ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{

    @Html.Partial((String)@ViewBag.Menu);
}*@
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

<div class="jumbotronP">
    <h2 class="font-jumb">
        Contactos
    </h2>
    <br />
    <address style="font-size:large">
        Mail de Contacto: @Model.Configuracion.First(p => p.NombreDato == "ResponsableMail").ValorDato <br />
        Direccion:@Model.Configuracion.First(p => p.NombreDato == "ResponsableNombreEdificio").ValorDato <br />
        @Model.Configuracion.First(p => p.NombreDato == "ResponsableCalleYnro").ValorDato<br />
        Piso: @Model.Configuracion.First(p => p.NombreDato == "ResponsablePisoOfic").ValorDato<br />
        Telefono: @Model.Configuracion.First(p => p.NombreDato == "ResponsableTelefonoEinterno").ValorDato

    </address>
</div>



<table id="tabla1" class="table" border="0">

    <tr>
        <th>
            @Html.DisplayNameFor(m => m.listoficinas[0].Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(m => m.listoficinas[0].Descripcion)
        </th>
        <th>

            @Html.DisplayNameFor(m => m.listoficinas[0].Direccion)

        </th>
        <th>
            @Html.DisplayNameFor(m => m.listoficinas[0].Localidad)
        </th>
        <th>

            @Html.DisplayNameFor(m => m.listoficinas[0].Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.listoficinas[0].Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.listoficinas[0].Celular)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.listoficinas[0].Email1)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.listoficinas)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email1)
            </td>

        </tr>
    }
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tabla1').stacktable();
        });
    </script>

}
@*@Scripts.Render("~/bundles/stacktable")*@






