@model IEnumerable<SINU.Models.vPeriodosInscrip>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SINU | Armada Argentina</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style type="text/css">
        body {
            padding-top: 0px;
        }

        .carousel-item {
            height: 40vh;
            min-height: 200px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .portfolio-item {
            /*margin-bottom: 30px;*/
        }

        @@media screen and (min-width: 601px) {
            titulo {
                font-size: 60px;
            }
        }

        @@media screen and (min-width: 731px) {
            titulo {
                font-size: 80px;
            }
        }


        @@media screen and (max-width: 600px) {
            titulo {
                font-size: 35px;
            }
        }

        @@media screen and (min-width: 601px) {
            .tcard {
                font-size: 30px;
            }
        }

        @@media screen and (min-width: 731px) {
            .tcard {
                font-size: 40px;
            }
        }


        @@media screen and (max-width: 600px) {
            .tcard {
                font-size: 25px;
            }
        }

        .imgi {
            margin: 3%;
            width: 40%;
            position: relative;
            overflow: hidden;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -30px;
            border-radius: 6px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
            background-color: white
        }




        .content-title {
            display: inline-block;
            position: absolute;
            color: white;
            background-color: #00000082;
            height: 50%;
            width: 90%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card1 {
            margin-bottom: 35px !important;
            align-items: center;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
            background-color: #052240;
            color: white;
        }

        .centrar {
            margin: auto;
        }
        
    </style>
</head>
<body>
    <header class="mb-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox" style="display: flex;justify-content: center;align-items: center;">

                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('https://gacetamarinera.com.ar/wp-content/uploads/2019/10/09-10-19-Aniversario_ESNM-001-1024x612.jpg')">
                    <div class="carousel-caption d-none d-lg-block">
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://gacetamarinera.com.ar/wp-content/uploads/2019/06/21-06-19_ESSA-Jura_01.jpg')">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://gacetamarinera.com.ar/wp-content/uploads/2019/10/09-10-19-Aniversario_ESNM-00-e1570722949878.jpg')">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="content-title">
                    <titulo class=" ">Armada Argentina</titulo>
                </div>

            </div>
        </div>
    </header>
    <div class="container">
        <div class="card-deck mb-4 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header" style="color: white;border-radius: 4px 4px 0px 0px;background-color: #052240;">
                    <h1>Modalidades de Inscripción</h1>
                </div>
                <div class="card-body" style="border: solid 1px;">
                    <p class="lead justify-content-center">
                        <b>@ViewBag.TextoPAGINAPRINCIPAL</b>
                    </p>
                    <a class="btn btn-primary btn-lg" href="http://www.incorporacion.armada.mil.ar/" role="button">Mas Información</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="card-deck ">
            @{
                List<SINU.Models.vPeriodosInscrip> Periodos = Model.ToList();
                Int32 inst = 0; //indice del vector vPeriodosInscrip indicando que Instituto se esta creando su tarjeta
                var per = 0; //contador de periodo para una institucion
                string InstAnterior; //id de la institucion que se esta armando el card
                while (inst < Periodos.Count())
                {
                    InstAnterior = Periodos[inst].NombreInst;
                    <div class="card card1" style="align-items:center;text-align:center; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);">

                        @{string imagen = @Periodos[inst].IdInstitucion + ".png"; }
                        <img class="card-img imgi" src="~/Imagenes/@imagen" alt="Card image cap" style="">
                        <div class="card-header container-fluid">
                            <h3 class="my-0 font-weight-normal ">@Periodos[inst].Titulo  @InstAnterior  </h3>
                        </div>

                        <div class="card-body container-fluid">

                            @{
                                per = 0;
                                while (inst < Periodos.Count() && InstAnterior == Periodos[inst].NombreInst)
                                {
                                    per++;
                                    // armado de la fila de un nuevo periodo
                                    //mostrar FechaInicio y Fecha Fin con el contador de per  <h6>@per&ordm;&ensp;</h6>
                                    <h4>Inicio @Periodos[inst].FechaInicio.ToString("dd/MM/yyyy")</h4>
                                    <br />
                                    <h4>Cierre @Periodos[inst].FechaFinal.ToString("dd/MM/yyyy")</h4>

                                    <div class="row card-footer lead justify-content-center">
                                        @Html.ActionLink("Inscribite", "Register", "Account", new { idInstitucion = Periodos[inst].IdInstitucion/*, otroParametro=Valor*/ }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                                        
                                    </div>

                                    inst++;
                                }


                            }
                        </div>
                    </div>
                }
            }

            @* Link de ¨Plantillas https://getbootstrap.com/docs/4.1/examples/#content *@


        </div>

        <!-- /.row -->
        <hr>

        <!-- Call to Action Section -->

        <div class="row lead justify-content-center">
            <div class="col-" data-toggle="tooltip" title="Si usted ya se encuentra registrado por favor inicie sesion.">
                <a>@Html.ActionLink("Iniciar Sesion", "Login", "Account", null, htmlAttributes: new { @class = "btn btn-lg btn-secondary btn-block" })</a>
            </div>
        </div>


        <hr />

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-lg-12">&copy; @DateTime.Now.Year - SINU - Armada Argentina</div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    @*<script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">



</script>
</body>
</html>
