@model SINU.ViewModels.ActividadMIlitarVM



@using (Ajax.BeginForm("ActMilitarCUD", "Postulante", null,
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "Exito(data,status,xhr)",
    OnFailure = "Falla",
//LoadingElementId = "carga",
//LoadingElementDuration = 1000,
//UpdateTargetId = "resultTarget"
},
new { id = "BeginFormActMilitarCUD" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
            ACTIVIDAD MILITAR
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body  ui-front" style="overflow:auto;height:30rem;">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="form-group row">


                        @Html.HiddenFor(model => model.ACTMilitarIDVM.IdActividadMilitar)
                        @Html.HiddenFor(model => model.IDPErsona)

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ACTMilitarIDVM.Fuerza, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.ACTMilitarIDVM.IdFuerza, new SelectList(Model.FuerzasVM, "IdFuerza", "Fuerza1"), "Seleccione una FUERZA", htmlAttributes: new { @class = "form-control selectpicker" })
                                    @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.IdFuerza, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group ">
                                @Html.LabelFor(model => model.ACTMilitarIDVM.Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.ACTMilitarIDVM.Ingreso, new { htmlAttributes = new { @class = "form-control selectpicker", @id="IngresoSINO"} })
                                    @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.Ingreso, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="no">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.ACTMilitarIDVM.CausaMotivoNoingreso, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ACTMilitarIDVM.CausaMotivoNoingreso, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.CausaMotivoNoingreso, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="si">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.ACTMilitarIDVM.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ACTMilitarIDVM.FechaIngreso, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.FechaIngreso, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.ACTMilitarIDVM.FechaBaja, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ACTMilitarIDVM.FechaBaja, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.FechaBaja, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group ">
                                    @Html.LabelFor(model => model.ACTMilitarIDVM.MotivoBaja, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.ACTMilitarIDVM.IdBaja, new SelectList(Model.BajaVM, "IdBaja", "BajaCausa"), "Seleccione Motiva de Baja", htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.IdBaja, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        @Html.LabelFor(model => model.ACTMilitarIDVM.MotivoBaja, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.ACTMilitarIDVM.MotivoBaja, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.MotivoBaja, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        @Html.LabelFor(model => model.ACTMilitarIDVM.Jerarquia, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.ACTMilitarIDVM.Jerarquia, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.Jerarquia, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        @Html.LabelFor(model => model.ACTMilitarIDVM.Cargo, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.ACTMilitarIDVM.Cargo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.Cargo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        @Html.LabelFor(model => model.ACTMilitarIDVM.Destino, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.ACTMilitarIDVM.Destino, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.Destino, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        @Html.LabelFor(model => model.ACTMilitarIDVM.IdSituacionRevista, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.ACTMilitarIDVM.IdSituacionRevista, new SelectList(Model.SituacionRevistaVM, "IdSituacionRevista", "SituacionRevista1"), "Seleccione Motiva de Baja", htmlAttributes: new { @class = "form-control selectpicker" })
                                            @Html.ValidationMessageFor(model => model.ACTMilitarIDVM.IdSituacionRevista, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <hr />
            <div class="float-md-right">
                <button type="button" class="btn btn-info " data-dismiss="modal">Cerrar</button>

                @* Se agrega este boton cuando se selecciono un estudio exitente para modificar o eliminar *@
                @if (Model.ACTMilitarIDVM.IdActividadMilitar != 0)
                {
                    <input type="button" value="Eliminar" class="btn btn-danger " id="EliminaACT" />
                }
                <input type="submit" value="Guardar" class="btn btn-primary" id="GuardarACT" onclick="$('#ModalAct').modal('hide')" />

            </div>
        </div>
    </div>
}

