@model  IEnumerable<SINU.Models.vPersona_ActividadMilitar>

@*@{
    ViewBag.Title = "Idiomas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@


<h2>Actividad militar</h2>

<div class="form-group" id="divTABLE">

    <table id="TablaActMilitar" data-CUD="ActMilitarCUD" data-URL="ActMilitar" data-ELI="EliminaACT" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th hidden>IdActividadMilitar</th>
                <th hidden>IDPersona</th>
                <th>@Html.DisplayNameFor(m => m.Fuerza)</th>
                <th>@Html.DisplayNameFor(m => m.Ingreso)</th>
                <th>
                    @Html.Label("Opciones")
                </th>
                @*<th>@Html.DisplayNameFor(m => m.Jerarquia)</th>
        <th>@Html.DisplayNameFor(m => m.FechaIngreso)</th>
        <th>@Html.DisplayNameFor(m => m.FechaBaja)</th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td hidden>@Html.DisplayFor(modelItem => item.IdActividadMilitar)</td>
                <td hidden>@Html.DisplayFor(modelItem => item.IdPersona)</td>
                <td>@Html.DisplayFor(modelItem => item.Fuerza)</td>
                <td>@Html.Label(item.Ingreso.Value ? "SI" : "NO")</td>
                <td>
                    <button class="Agrega btn btn-success fas fa-edit" data-ID="@item.IdActividadMilitar"></button>&ensp; |&ensp;
                    @Ajax.ActionLink(" ", "EliminaACT", new { ID = item.IdActividadMilitar }, new AjaxOptions
                      {
                        HttpMethod = "POST",
                        OnSuccess = "Exito(data,status,xhr)",
                        OnFailure = "Falla",
                      }, new { @id = "EliminaACT", @class = "btn btn-danger fas fa-trash-alt" })
                </td>
                @*<td >@Html.DisplayFor(modelItem => item.Jerarquia)</td>
        <td>@Html.DisplayFor(modelItem => item.FechaIngreso)</td>
        <td>@Html.DisplayFor(modelItem => item.FechaBaja)</td>*@
            </tr>
            }
        </tbody>

    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary Nuevo_REG" data-toggle="modal" data-target="#ModalEIA" data-IdTabla="TablaActMilitar">
        Agregar Actividad militar
    </button>


</div>
