@model SINU.Models.vEntrevistaLugarFecha
 <h4>Lugar y Fecha de Entrevista</h4>
<br />
<div class="jumbotron" style="background-color:#969696">
    <p class="text-justify"><h5>Delegacion Naval: <b>@Model.Nombre</b> </h5></p>
    <h5>Direccion: <b>@Model.Direccion</b></h5>
    <h5>Telefono: <b>@Model.Telefono</b></h5>
    @if (Model.Celular!=null)
    {
        <h5>Celular: <b>@Model.Celular</b></h5>
    }
    <h5>Fecha y Hora: <b>@Model.FechaEntrevista</b></h5>
</div>
<div class="jumbotron"  style="background-color:#969696">
    <h5><b>@ViewBag.Considere[0]</b><h5 />
    <hr />
    </h5>@ViewBag.Considere[1]</h5>
</div>
