@model SINU.ViewModels.PersonaFamiliaVM
@{
    ViewBag.Title = "Familiares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section MenuPerfil{
        @Html.Partial("_MenuPerfilPostu")
    }*@
<link href="~/Content/CssPostulante.css" rel="stylesheet" />

<div class="row pr-3">
    <h2 class="col-8">Familiar</h2>
    <a href="/Postulante" class="btn btn-info text-center col-4 " id="BTvolver">Volver atras</a>
</div>
<br />
<div class="p-1 bg-white rounded shadow mb-1 " style="padding:0px !important" id="TabFamilia">

    <ul id="TabGeneral" role="tablist" class="nav nav-tabs nav-pills with-arrow lined bg-dark flex-sm-row text-center oculto" style="padding-bottom:0.2rem">

        @* PERSONA DATOS BASICOS *@
        <li class="nav-item flex-sm-fill " id="5">
            <a id="Documentacion-tab " data-toggle="tab" href="#Familia" role="tab" aria-controls="Familia" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active atab">
                1° Datos Basicos
            </a>
        </li>

        @* DIA Y HORA DE ENTREVISTA EN LA DELEGACION *@
        <li class="nav-item TABCondicional Tabdesabilitado flex-sm-fill" id="9">
            <a id="Domicilio-tab" data-toggle="tab" href="#Domicilio" role="tab" aria-controls="Domicilio" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 atab">
                2° Domicilio
            </a>
        </li>

        @* DIA Y HORA DE ENTREVISTA EN LA DELEGACION *@
        <li class="nav-item TABCondicional Tabdesabilitado flex-sm-fill" id="11">
            <a id="Estudios-tab" data-toggle="tab" href="#Estudios" role="tab" aria-controls="Estudios" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 atab">
                3° Estudios
            </a>
        </li>

        @* DIA Y HORA DE ENTREVISTA EN LA DELEGACION *@
        <li class="nav-item TABCondicional Tabdesabilitado flex-sm-fill" id="15">
            <a id="ActMilitar-tab" data-toggle="tab" href="#ActMilitar" role="tab" aria-controls="ActMilitar" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0 atab">
                4° Actividad Militar
            </a>
        </li>

    </ul>

    <div id="myTab2Content" class="tab-content TABMovil">

        @* VISTA DE DATO PERSONAL DEL FAMILIAR *@
        <div class="pos-f-t collapse tab-pane fade show active tab-nav" id="Familia">
            <nav class="navbar navbar-dark bg-dark ocultnav">
                <a class="navbar-brand" href="#">1° Datos Basicos</a>
                <button id="BTFamiliaNAV" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#FamiliaNAV" role="tabpanel" aria-labelledby="FamiliaNAV-tab" aria-controls="FamiliaNAV" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>
            <div class="collapse tab-pane fade show active nav-tab p-4" id="FamiliaNAV">

                @using (Ajax.BeginForm("FamiliaCUD", "Postulante", null,
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "Exito(data,status,xhr)",
                        OnFailure = "Falla",
                            //LoadingElementId="carga",
                            //LoadingElementDuration=1000,
                            //UpdateTargetId = "resultTarget"
                        },
                    new { id = "BeginFormFamiliar" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="form-group row ">

                                <div class="col-sm-6">

                                    @Html.HiddenFor(model => model.vPersona_FamiliarVM.IdPersonaFamiliar, new { @id = "vPersona_DatosBasicosVM_IdPersona" })
                                    @Html.HiddenFor(model => model.vPersona_FamiliarVM.IdPersonaPostulante)
                                    @Html.HiddenFor(model => model.vPersona_FamiliarVM.IdFamiliar)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.Apellido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.Nombres, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.DNI, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.DNI, new { htmlAttributes = new { @class = "form-control", @id = "DNI_FAMI" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.DNI, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.CUIL, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.CUIL, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.CUIL, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.vPersona_FamiliarVM.FechaNacimiento, "{0:dd/MM/yyyy}", new { @placeholder = "dd/MM/yyyy", @class = "form-control datepicker", @readonly = true, @id = "fechacumpleaños" })

                                            @*@Html.EditorFor(model => model.vPersona_DatosPerVM.FechaNacimiento, "{0:dd/MM/yy}", new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datepicker", placeholder = "Formato: DD/MM/YYYY" } })*@
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.FechaNacimiento, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.idParentesco, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.idParentesco, Model.vParentecoVM, "Seleccione una Opcion...", new { @class = "form-control selectpicker" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.idParentesco, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.Vive, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.Vive, new SelectList(new[] { new { Value = "true", Text = "SI" }, new { Value = "false", Text = "NO" }, }, "Value", "Text", Model), "Seleccione una Opcion...", new { @class = "form-control selectpicker" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.Vive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.ConVive, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.ConVive, new SelectList(new[] { new { Value = "true", Text = "SI" }, new { Value = "false", Text = "NO" }, }, "Value", "Text", Model), "Seleccione una Opcion...", new { @class = "form-control selectpicker" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.ConVive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.IdSexo, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.IdSexo, Model.SexoVM, "Seleccione una Opcion...", new { @class = "form-control selectpicker" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.IdSexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.Telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "El codigo de area sin 0", @id = "Telefono" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.Telefono, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.Celular, new { htmlAttributes = new { @class = "form-control", @placeholder = "El codigo de area sin 0", @id = "Celular" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.Celular, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.vPersona_FamiliarVM.Mail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.Mail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.IdEstadoCivil, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.IdEstadoCivil, Model.vEstCivilVM, "Seleccione una Opcion...", new { @class = "form-control selectpicker", @id = "EstadoCivil" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.IdEstadoCivil, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group d-none" id="FechaCasamiento">
                                        @Html.LabelFor(model => model.vPersona_FamiliarVM.FechaCasamiento, htmlAttributes: new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.vPersona_FamiliarVM.FechaCasamiento, "{0:dd/MM/yyyy}", new { @placeholder = "dd/MM/yyyy", @class = "form-control datepicker ", @readonly = true })
                                            @*@Html.EditorFor(model => model.vPersona_DatosPerVM.FechaNacimiento, "{0:dd/MM/yy}", new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datepicker", placeholder = "Formato: DD/MM/YYYY" } })*@
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.FechaCasamiento, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.IdReligion, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.IdReligion, Model.ReligionVM, "Seleccione una Opcion...", new { @class = "form-control selectpicker" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.IdReligion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vPersona_FamiliarVM.idTipoNacionalidad, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.vPersona_FamiliarVM.idTipoNacionalidad, Model.TipoDeNacionalidadVm, "Seleccione una Opcion...", new { @class = "form-control selectpicker" })
                                            <div class="h-100"></div>
                                            @Html.ValidationMessageFor(model => model.vPersona_FamiliarVM.idTipoNacionalidad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <br />
                            </div>
                            <div class="form-group row ml-3  BTAcciones">
                                <input type="button" value="Guadar Datos" class="btn btn-success m-1" id="GuarFami" />
                            </div>


                        </div>
                    </div>
                }
            </div>

        </div>


        @* VISTA DE DOMICILIO *@
        <div class="pos-f-t TABCondicional Tabdesabilitado collapse tab-pane fade tab-nav" id="Domicilio">
            <nav class="navbar navbar-dark bg-dark ocultnav">
                <a class="navbar-brand" href="#">2° Domicilio</a>
                <button id="BTDomicilioNAV" class="navbar-toggler collapsed" hidden type="button" data-toggle="collapse" data-target="#DomicilioNAV" role="tabpanel" aria-labelledby="DomicilioNAV-tab" aria-controls="DomicilioNAV" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>
            <div class="collapse tab-pane fade nav-tab p-4" id="DomicilioNAV">
                @if (Model.ID_PER != 0)
                {
                    @Html.Action("Domicilio", "Postulante", new { ID_persona = Model.ID_PER })

                }
            </div>

        </div>

        @* VISTA DE Estudios *@
        <div class="pos-f-t TABCondicional Tabdesabilitado collapse tab-pane fade tab-nav" id="Estudios">
            <nav class="navbar navbar-dark bg-dark ocultnav">
                <a class="navbar-brand" href="#">3° Estudios</a>
                <button id="BTEstudiosNAV" class="navbar-toggler collapsed" hidden type="button" data-toggle="collapse" data-target="#EstudiosNAV" role="tabpanel" aria-labelledby="EstudiosNAV-tab" aria-controls="EstudiosNAV" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>
            <div class="collapse tab-pane fade nav-tab p-4" id="EstudiosNAV">
                @if (Model.ID_PER != 0)
                {
                    @Html.Action("Estudios", "Postulante", new { ID_persona = Model.ID_PER })
                }
            </div>

        </div>


        @* VISTA DE ActMilitar *@
        <div class="pos-f-t TABCondicional Tabdesabilitado collapse tab-pane fade tab-nav" id="ActMilitar">
            <nav class="navbar navbar-dark bg-dark ocultnav">
                <a class="navbar-brand" href="#">4° Actividad Militar</a>
                <button id="BTActMilitarNAV" class="navbar-toggler collapsed" hidden type="button" data-toggle="collapse" data-target="#ActMilitarNAV" role="tabpanel" aria-labelledby="ActMilitarNAV-tab" aria-controls="ActMilitarNAV" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>
            <div class="collapse tab-pane fade nav-tab p-4" id="ActMilitarNAV">
                @if (Model.ID_PER != 0)
                {
                    @Html.Action("ActMilitar", "Postulante", new { ID_persona = Model.ID_PER })
                }
            </div>

        </div>

        @*<div id="ActMilitarNAV" role="tabpanel" aria-labelledby="ActMilitar-tab" class="tab-pane fade px-4 py-3  ">
                @if (Model.ID_PER != 0)
                {
                    @Html.Action("ActMilitar", "Postulante", new { ID_persona = Model.ID_PER })
                }
            </div>*@
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////*@
@*MODAL DE LA VISTA ESTUDIO, IDIOMA y ACTIVIDAD MILITAR VER SI SIRVE PARA QUE VISTAS PUEDE SERVIR*@
<div class="modal fade " id="ModalEIA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="position:absolute !important;">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content" id="ModalEIACuerpo">

            <!----------------------------------------VISTA PARCIAL PARA LA ACTULIZACION Y CREAION DE REGISTRO DE ESTUDIOS DEL POSTULANTE------------------------------------------------------>

        </div>
    </div>
</div>


<div class="modal fade" id="ModalCampos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hay Campos que modifico y no los guardo. Verifique los mismos.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////*@
@*MODAL DE LA VISTA ESTUDIO, IDIOMA y ACTIVIDAD MILITAR VER SI SIRVE PARA QUE VISTAS PUEDE SERVIR*@
<div class="modal fade " id="ModalEIA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="position:absolute !important;">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content " id="ModalEIACuerpo">

            <!----------------------------------------VISTA PARCIAL PARA LA ACTULIZACION Y CREAION DE REGISTRO DE ESTUDIOS DEL POSTULANTE------------------------------------------------------>

        </div>
    </div>
</div>


<div class="modal fade" id="ModalAnuncios" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCenterTitle">@* Titulo del modal *@</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="TextModal">@* mensaje del Modal *@</p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="BTNModal">@* TExto de Boton *@</button>
                <button type="button" class="btn btn-primary" id="OK">Guardar de todas formas</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JavaScriptPostulante.js"></script>
    <script type="text/javascript">
        (function () {
            $(".TABCondicional").attr("title","Debe Completar los Datos Basicos.")
                .tooltip('enable');

        }());

        $(document).ready(function () {
            var URLanterior = document.referrer.toString();

            if (URLanterior.indexOf("Delegacion") > 0) {
                var index = URLanterior.indexOf("Documentacion");
                var href = URLanterior.substring(index);
                $("#BTvolver").attr("href","/Delegacion/"+href);

            }
            //array de la etapa del postulante

            if ('@Model.IDETAPA.ToString()'!="") {
                IDETP = '@Model.IDETAPA.ToString()'.split(',');
                //elimino el ultimo elemnto de array, por que es un string vacio
                IDETP.splice(IDETP.length - 1);
                var bloqueo_vistas = IDETP.indexOf("5") != -1;
                $.arrayEtapas = bloqueo_vistas;
                if (bloqueo_vistas) {
                    $(".BTAcciones").html("");
                    $("#TabFamilia :input,#TabFamilia input").attr("disabled", "true");
                    $(".BTMuestraTable :input").removeAttr("disabled").removeClass("fa-edit").addClass("fa-eye");
                }
            }


            if (@Model.vPersona_FamiliarVM.IdPersonaFamiliar!= 0) {
                $(".TABCondicional").tooltip("disable").removeClass("Tabdesabilitado");
                $(".TABCondicional .navbar-toggler").removeAttr("hidden");
            };


            //en caso de ser postulante solo muestro la informacion y deshabilito la edicion de los datos
            if ('@Model.postulante' == "True") {
                $("#ModalCenterTitle").html("Anuncio");
                $("#TextModal").html("Esta persona  es un POSTULANTE, por lo que no podra editar sus datos.!!!");
                $("#BTNModal").text("Cerrar");
                $("#OK").hide();
                $("#ModalAnuncios").modal("show");
                //alert("es un postulante");
                //Deshabilito los input de los formularios
                $("form :input,form input").attr("disabled", "true");
               //elimino los boton de edicion
                $(".BTAcciones").html("");

            };


            var ID;

            $("#GuarFami").on("click", function (e, dt, type, index)  {
                //alert("20310195481");
                var valido = $("#BeginFormFamiliar").valid();
                 if (!valido) {
                     $("#BeginFormFamiliar").submit();
                 } else {
                    //alert("asd");
                    var dni = $("#DNI_FAMI").val();
                     $.get("VerificarDNI", { DNI: dni , ID: '@Model.vPersona_FamiliarVM.IdPersonaPostulante' },
                         function (response) {
                             switch (response.resp) {
                                 case "existe":
                                     ID = response.ID_PER;
                                     //alert(response.msg + "  " + response.ID_PER);
                                     $("#ModalCenterTitle").html("Persona Existente");
                                     $("#TextModal").html(response.msg);
                                     $("#BTNModal").text("Cancelar");
                                     $("#OK").html("Si, agregarlo");
                                     $("#ModalAnuncios").modal("show");
                                     break;
                                 case "son_familiares":
                                     var url = window.location.href.toString().search("Familia=0")
                                     if (url != -1) {
                                         ID = response.ID_PER;
                                         //alert(response.msg + "  " + response.ID_PER);
                                         $("#ModalCenterTitle").html("Persona Existente");
                                         $("#TextModal").html(response.msg);
                                         $("#BTNModal").hide();
                                         $("#OK").hide();
                                         $("#ModalAnuncios").modal("show");
                                         window.setTimeout(redirige, 2000);
                                     } else {
                                         $("#BeginFormFamiliar").submit();
                                     }

                                     function redirige () {
                                         window.location.href = "/Postulante/FamiliaCUD?idPersonaFamilia=" + response.ID_PER;
                                     }
                                     break;
                                 case "no_existe":
                                     $("#BeginFormFamiliar").submit();
                                     break;

                             }

                         })

                 }

            });

            $("#OK").on("click", function (e) {
                e.preventDefault;
                e.stopImmediatePropagation();
                $("#BeginFormFamiliar").submit();
                //$("#ModalAnuncios").modal("show");
            });


        });

        function Exito(response, status, xhr) {
            //response.sucess esta pero pero ver si me sirve mas adelante
            if (response.accion == 0) {
                $("#BTNModal").html("Cerrar").show();
            } else { $("#BTNModal").hide();}
            $("#OK").css("display", "none");
            $("#ModalCenterTitle").html("SINU:");
            $("#TextModal").html(response.msg);
            $("#ModalAnuncios").modal();
            if (response.accion > 0) {
                window.setTimeout(redirige, 2000);
                function redirige() {
                    window.location.href = "/Postulante/FamiliaCUD?idPersonaFamilia=" + response.accion;
                }
            }
            switch (response.form) {
                 case "Elimina":
                    $.Elimina(response.url_Tabla);
                    break;
                default:

            }
        };

        function Falla(response) {
            alert("Error occured.");
        };
    </script>
}