@{
    ViewBag.Title = "Secuencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 576px) {
        .rounded-nav {
            border-radius: 50rem !important;
        }
    }

    @@media (min-width: 576px) {
        .rounded-nav .nav-link {
            border-radius: 50rem !important;
        }
    }

    /* With arrow tabs */

    .with-arrow .nav-link.active {
        position: relative;
    }

        .with-arrow .nav-link.active::after {
            content: '';
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #052240;
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
        }

    /* lined tabs */

    .lined .nav-link {
        border: none;
        border-bottom: 3px solid transparent;
    }

        .lined .nav-link:hover {
            border: none;
            border-bottom: 3px solid #555;
        }

        .lined .nav-link.active {
            background: none;
            color: #555;
            border-color: #052240;
        }

    .atab {
        color: #052240 !important;
    }

    .borderdiv1 {
        border-left: 1px solid #dee2e6 !important;
        margin-left: 15px;
        padding-left: 10px;
    }

    @@media screen and (max-width: 600px) {
        .tabb {
            flex-wrap: nowrap !important;
        }

        .borderdiv1 {
            border-left: 0px !important;
        }
    }

    .bli {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .Tabdesabilitado {
        pointer-events: none;
    }

    /*para ajutar el ancho de los controles que utilicen SELECTPICKER*/
    .bootstrap-select{
        max-width:280px;
    }
</style>

<h2>Secuencias del POSTULANTE</h2>
<br />

@* TAB GENERAL DONDE FIGURAN LAS DISTINTAS ETAPAS DE LA INSCRIPCION PARA EL POSTULANTE *@
<div class="p-1 bg-white rounded shadow mb-1">

    <ul id="TabGeneral" role="tablist" class="nav nav-tabs nav-pills with-arrow lined  flex-sm-row text-center">

        @* PERSONA DATOS BASICOS *@
        <li class="nav-item flex-sm-fill" id="5">
            <a id="datosbasicos-tab" data-toggle="tab" href="#datosbasicos" role="tab" aria-controls="datosbasicos" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active atab">
                Datos Basicos
            </a>
        </li>

        @* DIA Y HORA DE ENTREVISTA EN LA DELEGACION *@
        <li class="nav-item flex-sm-fill" id="9">
            <a id="entrevista-tab" data-toggle="tab" href="#entrevista" role="tab" aria-controls="entrevista" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 atab">
                Entrevista
            </a>
        </li>

        @* DOCUMENTACION *@
        <li class="nav-item flex-sm-fill" id="11">
            <a id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 atab">
                Documentacion
            </a>
        </li>

        @* --------------------------------------- *@
        <li class="nav-item flex-sm-fill" id="15">
            <a id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0 atab">
                Contact
            </a>
        </li>
    </ul>

    <div id="myTab2Content" class="tab-content">

        @* VISTA VPERSONA DATOS BASICOS *@

        <div id="datosbasicos" role="tabpanel" aria-labelledby="datosbasicos-tab" class="tab-pane fade px-4 py-3 show active">
            @*  CUANDO YA TIENE EL REGISTRO VALIDADO *@
            @if (ViewBag.secuenciaactual >= 5)
            {
                @Html.Action("DatosBasicos", "Postulante")
            }

        </div>

        @* VISTA DIA Y HORA DE ENTREVISTA EN LA DELEGACION *@
        <div id="entrevista" role="tabpanel" aria-labelledby="entrevista-tab" class="tab-pane fade px-4 py-3">
            @* SI CUANDO YA TIENE LA ENTREVISTA ASIGNADA *@
            @if (ViewBag.secuenciaactual >= 9)
            {
                @Html.Action("Entrevista", "Postulante")
            }

        </div>

        @* VISTA DE Documentacion que se divide en varias vistas *@
        <div id="profile2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-3">

            <div class="container">
                <div class="row">
                    <div class="col-sm-2 mr-2">
                        <ul class="nav nav-tabs nav-pills with-arrow lined  flex-sm-row text-center" id="myTab" role="tablist" style="border-bottom:0px solid;">
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold  rounded-0 active atab" id="home-tab" data-toggle="tab" href="#DatosPersonales" role="tab" aria-controls="DatosPersonales" aria-selected="true">
                                    Datos Personales
                                </a>
                            </li>
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#Domicilio" role="tab" aria-controls="Domicilio" aria-selected="false">
                                    Domicilio
                                </a>
                            </li>
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#Estudios" role="tab" aria-controls="Estudios" aria-selected="false">
                                    Estudios
                                </a>
                            </li>
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#Idioma" role="tab" aria-controls="Idioma" aria-selected="false">
                                    Idioma
                                </a>
                            </li>
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#ActMIlitar" role="tab" aria-controls="ActMilitar" aria-selected="false">
                                    Actividad Militar
                                </a>
                            </li>
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#SituOcu" role="tab" aria-controls="SituOcu" aria-selected="false">
                                    Situacion Ocupacional
                                </a>
                            </li>
                            <li class="nav-item flex-sm-fill bli">
                                <a class="nav-link text-uppercase font-weight-bold rounded-0 atab" data-toggle="tab" href="#Antropometria" role="tab" aria-controls="Antropometria" aria-selected="false">  
                                    Antropometria                                
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-sm-9 borderdiv1">
                        <div class="tab-content" id="myTabContent">

                            @* VISTA DE DATOS PERSONALES *@
                            <div class="tab-pane fade show active" id="DatosPersonales" role="tabpanel" aria-labelledby="DatosPersonales-tab">
                                @Html.Action("DatosPersonales", "Postulante")
                            </div>

                            @* VISTA DE DOMICILIO *@
                            <div class="tab-pane fade" id="Domicilio" role="tabpanel" aria-labelledby="Domicilio-tab">
                                @Html.Action("Domicilio", "Postulante")
                            </div>
                            @* VISTA DE ESTUDIOS *@
                            <div class="tab-pane fade" id="Estudios" role="tabpanel" aria-labelledby="Estudios-tab">
                                @Html.Action("Estudios", "Postulante")
                            </div>
                            @* VISTA DE ESTUDIOS *@
                            <div class="tab-pane fade" id="Idioma" role="tabpanel" aria-labelledby="Idioma-tab">
                                @Html.Action("Idiomas", "Postulante")
                            </div>
                            @* VISTA DE ACTIVIDAD MILITAR *@
                            <div class="tab-pane fade" id="ActMIlitar" role="tabpanel" aria-labelledby="ActMilitar-tab">
                                @Html.Action("ActMilitar", "Postulante")
                            </div>
                            @* VISTA DE SITUACION OCUPACIONAL*@
                            <div class="tab-pane fade" id="SituOcu" role="tabpanel" aria-labelledby="SituOcu-tab">
                                @Html.Action("SituOcupacional", "Postulante")
                            </div>
                            @* VISTA DE ANTROPOMETRIA *@
                            <div class="tab-pane fade" id="Antropometria" role="tabpanel" aria-labelledby="Antropometria-tab">
                                @Html.Action("Antropometria", "Postulante")
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-8 -->
                </div>

            </div>
            <!-- /.container -->
        </div>

        @* VISTA DE ---------------- *@
        <div id="contact2" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-3">
            <p class="leade ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="leade  mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

    </div>
    <!-- End lined tabs -->
</div>
@*////////////////////////////////////////////////////////////////////////////////////////////*@
     @*MODAL DE LA VISTA ESTUDIO VER SI SIRVE PARA QUE VISTAS PUEDE SERVIR*@ 
<div class="modal fade " id="ModalEstudio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="position:absolute !important;">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content   " id="ModalEstudioCuerpo">

            <!----------------------------------------VISTA PARCIAL PARA LA ACTULIZACION Y CREAION DE REGISTRO DE ESTUDIOS DEL POSTULANTE------------------------------------------------------>

        </div>
    </div>
</div>

<div class="modal fade " id="ModalIdioma" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="position:absolute !important;">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content" id="ModalIdiomaCuerpo">
            <h1>asdad</h1>
            <!--------------------------------------VISTA PARCIAL PARA LA ACTULIZACION Y CREAION DE REGISTRO DE ESTUDIOS DEL POSTULANTE------------------------------------------------------>

        </div>
    </div>
</div>

<div class="modal fade " id="ModalAct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="position:absolute !important;">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content" id="ModalActCuerpo">
            <!--------------------------------------VISTA PARCIAL PARA LA ACTULIZACION Y CREAION DE REGISTRO DE ESTUDIOS DEL POSTULANTE------------------------------------------------------>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
     
        $(document).ready(function () {
            //ver esto ya que en el navegador aparece nu aadvertencia relacionado si es asincronico o sincronico
            $.ajaxSetup({
                async: false
            });

            //para qu ela validacion de fecha reconosca el formato dd/MM/yyyy
            jQuery.validator.methods["date"] = function (value, element) { return true; };

            (function () {
                $("#TabGeneral li").each(function () {

                    if ($(this).attr('id') > @ViewBag.secuenciaactual) {

                        //$(this).addClass('Tabdesabilitado').css("background-color","red");
                    };
                });

                //ajusto la altura de los dropdownlist con la clase selectpicker
                $(".selectpicker").selectpicker({
                    size: 7,
                });
            })();

            $("#datepicker").datepicker({
                format: "dd/mm/yyyy",
                language: "es",
            });

/////////////////////////////////////////////////////////////////////////////////
        /*FUNCION DE LA VISTA DE DATOS PERSONALES */

          //--------------------------------------------------------------------------------------//


/////////////////////////////////////////////////////////////////////////////////
            /*FUNCION DE LA VISTA DE DOMICILIOS */

           //se aplicael selecpicker a alos conbo/s con autocomplete con la opcion de busqueda
            /* https://developer.snapappointments.com/bootstrap-select/ */
                $(".combobox").selectpicker({
                    liveSearch: true,
                    size: 7,
                    liveSearchPlaceholder: "Ingrese su busqueda",
                    liveSearchStyle: 'contains',//'startsWith'
                    noneResultsText: 'No se Encuantran Resultados',
                    noneSelectedText: 'Ninguna Opcion Seleccionada'
                });
           
            $("select").on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                comboid = $(this).attr("id");
                //alert(comboid);
                switch (comboid) {
                        case "ListaPaisR":
                        case "ListaPaisE":
                            PAIS(comboid, 1)
                            break;
                        case "ComboProvinciaR":
                        case "ComboProvinciaE":
                            PROVINCIA(comboid);
                            break;
                        case "ComboLocalidadR":
                        case "ComboLocalidadE":
                            LOCALIDAD(comboid);
                            break;
                        default:
                }
            });

            //al crgar la pagina se verifica si el pais del domiciolio REAL es "AR"
            PAIS("ListaPaisR", 0);
            PAIS("ListaPaisE", 0);

        

            ////si se recibe 0 es carga inicial de la pagina y nose se limpian los campos, si es 1 se limpia los campos
            function PAIS(Combo, PRI) {

                //los elementos html con la clase "Real,Eventual" corresponde a campos para los datos, de no ser de Argentina
                //Los que posean la clase "RealAR,EventualAR" en caso de pertenecer a la Argentina
                var Comboelemt = (Combo == "ListaPaisR") ?
                      [".Real", ".RealAR", "#CPR"]
                    : [".Eventual", ".EventualAR", "#CPE"];

                //alert($("#" + Combo).val());
                if ($("#" + Combo).val() != "AR") {
                    $(Comboelemt[0]).show();
                    $(Comboelemt[1]).hide();
                    //se inhabilita la edicion del campo para el codigo postal
                    $(Comboelemt[2]).attr("readonly", false);
                } else {
                    $(Comboelemt[0]).hide();
                    $(Comboelemt[1]).show();
                    //se habilita la edicion del campo para el codigo postal
                    $(Comboelemt[2]).attr("readonly", true);
                };

                //limpio los campos de "provincia,localidad,codigopostal" si seselecciona otro pais
                if (PRI == 1) {
                    
                    $(Comboelemt[0] + "," + Comboelemt[2]).val("");
                    $(Comboelemt[1]).selectpicker('val', '');
                }
            };

            //Funcion de Provincia que actualiza los combobox de localidad
            function PROVINCIA(Combo) {
              
                var ValP = $("#" + Combo).val();
                //alert(Combo + " " + ValP);
                var ComboLocalidad = (Combo == "ComboProvinciaR") ? "#ComboLocalidadR" : "#ComboLocalidadE";
                //limpio el combo de las localidades, para cargar las licalidades de la provincia seleccionada
                $(ComboLocalidad).empty();

                //llamo al JsonResult '/Postulante/DropEnCascadaDomicilio' y le envio la provincia seleccionada
                $.getJSON('/Postulante/DropEnCascadaDomicilio', {
                    Provincia: ValP,
                },
                    function (data) {
                        $(ComboLocalidad).append('<option value=' + '' + '>' + "Seleccione una Localidad" + '</option>');
                        //agrego al dropboxlist la etiqueta "option" con cada localidad que le corresponde a la provincia seleccionada
                        $.each(data, function () {
                            $(ComboLocalidad).append('<option value=' + this.Value + '>' + this.Text + '</option>');
                        });
                        //para actualizar el combobox
                        $(ComboLocalidad).selectpicker('refresh');
                    });
            };

            //se actualiaz el codigo postal deacuerdo a la localidad seleccionada
            function LOCALIDAD(Combo) {
                var ComboCP = (Combo == "ComboLocalidadR") ? "#CPR" : "#CPE";
                //llamo al JsonResult '/Postulante/EnCascada' y le envio la localidad seleccionada
                var valCP = $("#"+comboid).val();
                $.getJSON('/Postulante/DropEnCascadaDomicilio', {
                    Localidad: valCP,
                },
                    function (data) {
                        //agrego al dropboxlist la etiqueta option con cada localidad que le corresponde a la provincia seleccionada
                        $(ComboCP).val(data.Text);
                    });
                ////para actualizar el combobox
            };

//////////////////////////////////////////////////////////////////////////////
            /* FUNCION DE LA VISTA DE ESTUDIOS */

            //aplico DATATABLES a las tablas necesrias
            TablaEST()

            //index de la fila seleccionada de la tabla
            var indexrow;

            //se llama al modal para cargar un nuevo estudio
            $("#NuevoEstudio").on("click", function () {
                //alert("modal nuevo estudio!!!");
                ModalEstudioCUD(null);
            });

            //funcion para aplicar datatable a la tabla estudio en la primera carga y actualizar la vista parcial de estudio
            function TablaEST() {

                var TEstudio = $('#TablaEstudio').DataTable({

                    responsive:
                    {
                        details: false
                    },
                    "autoWidth": true,

                    //ver si es necesario este fragmento
                    select: 'single',
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": [0]
                    }],
                    "order": [[1, 'asc']],

                      "language":
                            {
                                "sProcessing": "Procesando...",
                                "sLengthMenu": "Mostrar _MENU_ registros",
                                "sZeroRecords": "No se encontraron resultados",
                                "sEmptyTable": "Ningún dato disponible en esta tabla",
                                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                "sInfoPostFix": "",
                                "sSearch": "Buscar:",
                                "sUrl": "",
                                "sInfoThousands": ",",
                                "sLoadingRecords": "Cargando...",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },

                                "columnDefs": [{
                                    "targets": 'no-sort',
                                    "orderable": false,
                                },
                                {
                                    "searchable": false,
                                    "targets": [0],
                                }]

                            }
                });

                //al seleccionar una fila
                //guardo el index de la fila seleccionada
                //se llama al modal y se le envia la id de estudio correspondiete
                TEstudio.on('select.dt', function (e, dt, type, index) {
                        indexrow = index;
                        var data = dt.rows(index).data();
                        var id = data[0][0];
                        ModalEstudioCUD(id);
                        $("#ModalEstudio").modal("show");
                });
                //para deselecciponar la fila que fue seleccionada
                TEstudio.rows(indexrow).deselect();

            };

            //al cerrarse el modal la fila seleccionada es DESELECCIONADA
            //se se actualiza la vista parcial en el caso que se elimine, modifique o se agregue un registro
            $("#ModalEstudio").on('hidden.bs.modal', function () {
                alert("se cerro modal");
                $("#Estudios").load('@Url.Action("Estudios","Postulante")', function () {

                    //se llama al modal para cargar un nuevo estudio
                    $("#NuevoEstudio").on("click", function () {
                        //alert("modal nuevo estudio!!!");
                        ModalEstudioCUD(null);
                    });

                    //aplico datatable a la tabla de estudio
                    TablaEST();
                });
            });

            //funcion que carga el modal de estudio
            //recibe "NULL" en caso de agregar un nuevo estudio y distinto a "NULL" para la modificacion o eliminacion
            function ModalEstudioCUD(idrec) {

                //elimino el contenido html
                $('#ModalEstudioCuerpo').html("");

                $.ajax({
                    cache: false,
                    asyn: false,
                    type: "GET",
                    url: '/Postulante/EstudiosCUD',
                    data: { ID: idrec },
                    //si no surge error al redireccionar se reemplaza el contenido de la div
                    success: function (response) {
                        $('#ModalEstudioCuerpo').html(response);

                        //con esto  funciona la validacion del lado del cliente con la vista parcial
                        $('#ModalEstudioCuerpo').removeData("validator");
                        $('#ModalEstudioCuerpo').removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse('#ModalEstudioCuerpo');

                      
                        //se aplicael selecpicker a alos conbo/s con autocomplete
                        /* https://developer.snapappointments.com/bootstrap-select/ */
                        $(".combobox").selectpicker({
                            liveSearch: true,
                            width: '280px',
                            size: 7,
                            liveSearchPlaceholder: "Ingrese su busqueda",
                            liveSearchStyle: 'contains',//'startsWith'
                            noneResultsText: 'No se Encuantran Resultados',
                            noneSelectedText: 'Ninguna Opcion Seleccionada'
                        });

                        $(".selectpicker").selectpicker();
                        //evento que se desata cuando se selecciona un opcion de los combobox
                        $("select").on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

                            comboid = $(this).attr("id");
                            if (comboid != "ComboIdInstEST") {
                                //alert(comboid);
                                valcombo = $('#' + comboid + ' option:selected').html();
                                ComboCascada(comboid, valcombo);
                            }
                        });

              
                        //alert($("#IdInstEST").val() + " " + idrec);
                        if ($("#IdInstEST").val() != "" && idrec != null) {
                            //alert($("#vPersona_EstudioIdVM_IdInstitutos").val());
                            $("#checkext").attr("checked", "checked");
                        };

                        //lamo la funcion INSTEXT y mando cero por que esla primera carga
                        INSTEXT("#checkext", 0);

                        //cada vez que el checkbox de instituto en el exterior cambia de valor
                        $("#checkext").on("change", function () {
                            INSTEXT(this, 1);
                        });

                        //ELIMINA EL ESTUDIO SELECCIONADO
                        $("#EliminaEST").on("click", function () {
                            $.getJSON('/Postulante/EliminaEST',
                                { ID: idrec }, function (response) {
                                    alert(response.success + " - " + response.msg);
                                });
                            $("#ModalEstudio").modal("hide");
                        });

                        $("#GuardarEST").on("click", function () {
                            //alert("se cerrara modal!!!");
                            $("#ModalEstudio").modal("hide");
                        });

                    },

                    //si ocurre un error de no aurtorizacion redirige ala pagina de error del mismo
                    statusCode: {
                        500:
                            function (context) {
                                $('#ModalEstudioCuerpo').html(context.responseText);
                            }
                    }
                });


            };

            //muestra o ocualta los campos relacionado con los campos si el instituto pertenece al exterior o no
            function INSTEXT(elemn, pri) {
                
                if ($(elemn).is(":checked")) {
                    $("#JuriEST,#IdInstEST").show();
                    $("label[for='Provincia']").text("Pais");
                    $(".INSAR").hide();
                    $("#ComboIdInstEST").val(0);
                } else {
                    $("#JuriEST,#IdInstEST").hide().val("");
                    $("label[for='Provincia']").text("Provincia/Juridiccion");
                    $(".INSAR").show();
                };
                if (pri != 0) {
                    $("#JuriEST,#IdInstEST").val("");
                }

                //$("#ESTUAR").selectpicker("val", "");
            };

            function ComboCascada(Combo, ValC) {
                var OPC;
                if (Combo == "ComboJuriEST") {
                    OPC = 0;
                    $("#ComboLocaliEST,#ComboIdInstEST").html("")
                } else {
                    valprov = $("#ComboJuriEST").val();
                    ValC = valprov + "-" +  ValC;
                    //alert(ValC);
                    OPC = 1;
                    $("#ComboIdInstEST").html("")
                }
                //alert("sdf");
                $.getJSON('/Postulante/DropCascadaEST', {
                    opc: OPC, val: ValC
                },
                    function (data) {
                        //agrego al dropboxlist la etiqueta option con cada localidad que le corresponde a la juridiccion seleccionada
                        var combocas = (OPC == 0) ? "#ComboLocaliEST" : "#ComboIdInstEST";
                        //alert(combocas);
                        $.each(data, function () {

                            $(combocas).append("<option value=" + this.Value + " >" + this.Text + "</option>");
                        });
                        //refresco los combobox con los datos nuevos
                        $(combocas).selectpicker('refresh');

                    });
            };
            
//////////////////////////////////////////////////////////////////////////////
        /* FUNCION DE LA VISTA DE IDIOMA */

            //aplico DATATABLES a las tablas necesrias
                TablaIDIO()
                //index de la fila seleccionada de la tabla
                var indexrow;
                
                //se llama al modal para cargar un nuevo estudio
                $("#NuevoIdioma").on("click", function () {
                    //alert("modal nuevo estudio!!!");
                    ModalIdiomaCUD(null);
                });
        
                //funcion para aplicar datatable a la tabla estudio en la primera carga y actualizar la vista parcial de estudio
                function TablaIDIO() {

                    var TIdioma = $('#TablaIdioma').DataTable({

                        responsive: {
                            details: false
                        },
                        "autoWidth": true,
                        select: 'single',
                        "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": 0
                        }],
                        "order": [[1, 'asc']],
                          "language":
                            {
                                "sProcessing": "Procesando...",
                                "sLengthMenu": "Mostrar _MENU_ registros",
                                "sZeroRecords": "No se encontraron resultados",
                                "sEmptyTable": "Ningún dato disponible en esta tabla",
                                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                "sInfoPostFix": "",
                                "sSearch": "Buscar:",
                                "sUrl": "",
                                "sInfoThousands": ",",
                                "sLoadingRecords": "Cargando...",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },

                                "columnDefs": [{
                                    "targets": 'no-sort',
                                    "orderable": false,
                                },
                                {
                                    "searchable": false,
                                    "targets": [0],
                                }]

                            }
                    });

                    //al seleccionar una fila
                    //guardo el index de la fila seleccionada
                    //se llama al modal y se le envia la id de estudio correspondiete
                    TIdioma.on('select.dt', function (e, dt, type, index) {
                        indexrow = index;
                        var data = dt.rows(index).data();
                        var id = data[0][0];

                        ModalIdiomaCUD(id);
                        $("#ModalIdioma").modal("show");
                    });
                                            
                    $('#TablaIdioma').resize();
                    //para deselecciponar la fila que fue seleccionada
                    //TIdioma.rows(indexrow).deselect();

                };

                //al cerrarse el modal la fila seleccionada es DESELECCIONADA
                //se se actualiza la vista parcial en el caso que se elimine, modifique o se agregue un registro
                $("#ModalIdioma").on('hidden.bs.modal', function () {
                    //alert("cerror modal");
                    $("#Idioma").load('@Url.Action("Idiomas","Postulante")', function () {
                        //se llama al modal para cargar un nuevo estudio
                        $("#NuevoIdioma").on("click", function () {
                            //alert("modal nuevo estudio!!!");
                            ModalIdiomaCUD(null);
                        });

                        //aplico datatable a la tabla de estudio
                        TablaIDIO();
                    });
                     
                });

                //funcion que carga el modal de estudio
                //recibe "NULL" en caso de agregar un nuevo estudio y distinto a "NULL" para la modificacion o eliminacion
                function ModalIdiomaCUD(idrec) {

                    //elimino el contenido html
                    $('#ModalIdiomaCuerpo').html("");

                    $.ajax({
                        cache: false,
                        asyn: false,
                        type: "GET",
                        url: '/Postulante/IdiomaCUD',
                        data: { ID: idrec },
                        //si no surge error al redireccionar se reemplaza el contenido de la div
                        success: function (response) {
                            $('#ModalIdiomaCuerpo').html(response);

                            //con esto  funciona la validacion del lado del cliente con la vista parcial
                            $('#ModalIdiomaCuerpo').removeData("validator");
                            $('#ModalIdiomaCuerpo').removeData("unobtrusiveValidation");
                            $.validator.unobtrusive.parse('#ModalIdiomaCuerpo');

                            //se aplicael selecpicker a alos conbo/s con autocomplete
                            var comboiddio = $("#ComboIdioma").selectpicker({
                                liveSearch: true,
                                size: 6,
                            });

                            $(".selectpicker").selectpicker();

                            //ELIMINA EL ESTUDIO SELECCIONADO
                            $("#EliminaIDIO").on("click", function () {
                                
                                $.getJSON('/Postulante/EliminaIDIO',
                                    { ID: idrec }, function (response) {
                                        alert(response.success + " - " + response.msg);
                                    });
                                $("#ModalIdioma").modal("hide");

                            });

                            $("#GuardarIDIO").on("click", function () {
                                $("#ModalIdioma").modal("hide");
                            });
                        },

                        //si ocurre un error de no aurtorizacion redirige ala pagina de error del mismo
                        statusCode: {
                            500:
                                function (context) {
                                    $('#ModalActCuerpo').html(context.responseText);
                                }
                        }
                    });

            };

//////////////////////////////////////////////////////////////////////////////
        /* FUNCION DE LA VISTA DE ACTIVIDAD MILITAR */

            //aplico DATATABLES a las tablas necesrias
                TablaACT()

                //index de la fila seleccionada de la tabla
                var indexrow;

                //se llama al modal para cargar un nuevo estudio
                $("#NuevoAct").on("click", function () {
                    //alert("modal nuevo estudio!!!");
                    ModalACTCUD(null);
                });

                //funcion para aplicar datatable a la tabla estudio en la primera carga y actualizar la vista parcial de estudio
                function TablaACT() {

                    var TACT = $('#TablaActMilitar').DataTable({

                        responsive: {
                            details: false
                        },
                        "autoWidth": true,
                        select: 'single',
                        "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": 0
                        }],
                        "order": [[1, 'asc']]
                    });

                    //al seleccionar una fila
                    //guardo el index de la fila seleccionada
                    //se llama al modal y se le envia la id de estudio correspondiete
                    TACT.on('select.dt', function (e, dt, type, index) {
                        indexrow = index;
                        var data = dt.rows(index).data();
                        var id = data[0][0];

                        ModalACTCUD(id);
                        $("#ModalAct").modal("show");
                    });

                    //para deselecciponar la fila que fue seleccionada
                    TACT.rows(indexrow).deselect();
                };


                //al cerrarse el modal la fila seleccionada es DESELECCIONADA
                //se se actualiza la vista parcial en el caso que se elimine, modifique o se agregue un registro
            $("#ModalAct").on('hidden.bs.modal', function () {
                //alert("cerror modal");
                $("#ActMIlitar").load('@Url.Action("ActMIlitar","Postulante")', function () {

                    //se llama al modal para cargar un nuevo estudio
                    $("#NuevoAct").on("click", function () {
                        //alert("modal nuevo estudio!!!");
                        ModalACTCUD(null);
                    });

                    //aplico datatable a la tabla
                    TablaACT();
                });

            });

            function IngreSINO() {
                if ($("#IngresoSINO").val()=="true") {
                    //alert("si");
                    $(".no input").val("");
                    $(".si").show();
                    $(".no").hide();                   

                } else {
                    //alert("no");
                    $(".si input,.si select").val("");
                    $(".no").show();
                    $(".si").hide();
                   
                };
            };
                //funcion que carga el modal de estudio
                //recibe "NULL" en caso de agregar un nuevo estudio y distinto a "NULL" para la modificacion o eliminacion
                function ModalACTCUD(idrec) {

                    //elimino el contenido html
                    $('#ModalActCuerpo').html("");

                    $.ajax({
                        cache: false,
                        asyn: false,
                        type: "GET",
                        url: '/Postulante/ActMilitarCUD',
                        data: { ID: idrec },
                        //si no surge error al redireccionar se reemplaza el contenido de la div
                        success: function (response) {
                            $('#ModalActCuerpo').html(response);

                            //con esto  funciona la validacion del lado del cliente con la vista parcial
                            $('#ModalActCuerpo').removeData("validator");
                            $('#ModalActCuerpo').removeData("unobtrusiveValidation");
                            $.validator.unobtrusive.parse('#ModalActCuerpo');

                            IngreSINO();
                            $("#IngresoSINO").on("change", function (e) {
                                IngreSINO()

                            });
                            //ELIMINA EL ESTUDIO SELECCIONADO
                            $("#EliminaACT").on("click", function () {
                                $.getJSON('/Postulante/EliminaACT',
                                    { ID: idrec },
                                    function (response) {
                                        alert(response.success + " - " + response.msg);
                                    });
                                $("#ModalAct").modal("hide");
                            });
                        },

                        //si ocurre un error de no aurtorizacion redirige ala pagina de error del mismo
                        statusCode: {
                            500:
                                function (context) {
                                    $('#ModaACTCuerpo').html(context.responseText);
                                }
                        }
                    });

                };

//////////////////////////////////////////////////////////////////////////////
            /* FUNCION DE LA VISTA DE SITUACION OCUPACIONAL */


            //se aplicael selecpicker a alos conbo/s con autocomplete
        /* https://developer.snapappointments.com/bootstrap-select/ */
            SITUOCUPA();

            function SITUOCUPA(){
                 var group = $("#inaoact option:selected").closest('optgroup').attr('label');
                var text = $("#inaoact option:selected").html();
                if (group == "Inactivo" || text == "Desocupado") {
                    $("#SI").hide();
                    $("#SI input").val("");
                } else {
                    $("#SI").show();

                }
            };

            $("#Estado").selectpicker({
                size: 6,
                actionsBox: true,
                deselectAllText: 'Deseleccionar Todo',
                selectAllText: 'Seleccionar Todo',
                noneSelectedText: 'Ninguna Opcion Seleccionada'
            });
           
            $("#inaoact").on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                SITUOCUPA();
            });

/////////////////////////////////////////////////////////////////////////////
            /* FUNCION DE LA VISTA DE ANTROPOMETRIA */



              var sex = $("#Sexo");
            sexo(sex.val());

            sex.on("change", function () {
                sexo(sex.val());
            });

            $("#antropo input").each(function () {
                if ($(this).val()=="") {
                    $(this).val(0);
                }

            });

            $("#altura,#peso").on("change", function () {

                var altura = $("#altura").val()/100,
                    peso = $("#peso").val().replace(",", ".");
                if (altura != 0 && peso != 0) {
                    var imc = peso / (altura * altura);
                    //alert(imc);
                    $("#imc").attr("value",imc.toFixed(2).replace(".",","));
                }

            });

            function sexo(element) {
                //alert(element);
                if (element != "Mujer") {
                    $("#mujer").hide();
                    $("#mujer input").val(0);
                } else {
                    $("#mujer").show();
                }
            };


                
        });

 /////////////////////////////////////////////////////////////////////////////////
        /*FUNCIONES DE AJAX.BeginForm */

        function Exito(response,status,xhr) {
           alert("success: " + response.success + " - " + response.msg);
             //$("#MSGexito").html("success: " + response.success + " " + response.msg);
             //$(".modal").modal("show");
        };

        function Falla(response) {
           alert("Error occured." );
        };
        
         //////////////////////////////////////////////////////////////////////////////
    </script>

}
