@model IEnumerable<SINU.Models.OficinasYDelegaciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tabla-ofiydele" class="display dataTable nowrap" style="width:100%">

    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CP)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email1)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email2)
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email2)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdOficinasYDelegaciones }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdOficinasYDelegaciones }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdOficinasYDelegaciones })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {


            $('#tabla-ofiydele').DataTable({
                responsive: true
            });
        });


    </script>

}
