@model IEnumerable<SINU.Models.CarreraOficio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarreraUoficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarreraUoficio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCarreraOficio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCarreraOficio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCarreraOficio })
        </td>
    </tr>
}

</table>
